<?php
/**
 * This file is part of the CarteBlanche PHP framework.
 *
 * (c) Pierre Cassat <me@e-piwi.fr> and contributors
 *
 * License Apache-2.0 <http://github.com/php-carteblanche/carteblanche/blob/master/LICENSE>
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
?>
<p><?php _trans('Your system seems empty (<em>no database found</em>) ...'); ?></p>
<ul>
	<li><a href="<?php echo build_url(array(
		'action'=>'check_system', 'altdb'=>!empty($altdb) ? $altdb : null,
	)); ?>"><?php _trans('clic here to check if your system allows this application to work'); ?></a></li>
	<li><a href="<?php echo build_url(array(
		'action'=>'install', 'altdb'=>!empty($altdb) ? $altdb : null,
	)); ?>"><?php _trans('clic here to install it'); ?></a></li>
</ul>